In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [36]:
df1 = pd.read_csv("handlandmark_wide_01.csv")
df2 = pd.read_csv("handlandmark_wide_02.csv")
df3 = pd.read_csv("handlandmark_wide_03.csv")
df3_2 = pd.read_csv("handlandmark_wide_03-2.csv")
df4 = pd.read_csv("handlandmark_wide_04.csv")
df4_2 = pd.read_csv("handlandmark_wide_04-2.csv")
df6 = pd.read_csv("handlandmark_wide_06.csv")
df7 = pd.read_csv("handlandmark_wide_07.csv")
df9 = pd.read_csv("handlandmark_wide_09.csv")
df11_2 = pd.read_csv("handlandmark_wide_11-2.csv")
df1_t_1 = pd.read_csv("handlandmark_wide_01-test-01.csv")
df1_t_2 = pd.read_csv("handlandmark_wide_01-test-02.csv")
df2_t_2 = pd.read_csv("handlandmark_wide_02-test-02.csv")

print("Shape:", df1.shape)
print("Shape:", df2.shape)
print("Shape:", df3.shape)
print("Shape:", df3_2.shape)
print("Shape:", df4.shape)
print("Shape:", df4_2.shape)
print("Shape:", df6.shape)
print("Shape:", df7.shape)
print("Shape:", df9.shape)
print("Shape:", df11_2.shape)
print("Shape:", df1_t_1.shape)
print("Shape:", df1_t_2.shape)
print("Shape:", df2_t_2.shape)

Shape: (20141, 69)
Shape: (8238, 69)
Shape: (10221, 69)
Shape: (6085, 69)
Shape: (13048, 69)
Shape: (4468, 69)
Shape: (11435, 69)
Shape: (8450, 69)
Shape: (4939, 69)
Shape: (1462, 69)
Shape: (6223, 69)
Shape: (11991, 69)
Shape: (9140, 69)

In [37]:
df_list = [df1, df2, df3, df3_2, df4, df4_2, df6, df7, df9, df11_2, df1_t_1, df1_t_2, df2_t_2]

gestures = ['lift', 'hold', 'press', 'adjust', 'rotate', 'place', 'other']

all_counts = {}

for i, df in enumerate(df_list, start=1):
    counts = df['behavior'].value_counts()
    result = {gesture: counts.get(gesture, 0) for gesture in gestures}
    result['total'] = sum(result.values())  
    all_counts[f'df{i}'] = result

summary_df = pd.DataFrame(all_counts).T
summary_df

      lift  hold  press  adjust  rotate  place  other  total
df1    640  6547   1815    5016    3670    914   1539  20141
df2    159  1228   1564    1002    2746    289    997   7985
df3    347  4419    464    1506    2603    408    474  10221
df4    100   402    402     922    3513    253    493   6085
df5    269  2679   1303    2123    4414    661   1599  13048
df6    194  1155    557    1051    1102    271    138   4468
df7    223  3646    303    1773    3576    240   1674  11435
df8    246  1118    420    1699    3737     78   1152   8450
df9     39   540    342     620    1291     29   2078   4939
df10     6   171     89     333     831      0     32   1462
df11     0  2778   1332     960     862    275     16   6223
df12    10  2331   2172    1992    4650     15    821  11991
df13     0  1955   1825    1841    3507     10      2   9140

In [32]:
df_list = [
    pd.read_csv("handlandmark_wide_01.csv"),
    pd.read_csv("handlandmark_wide_02.csv"),
    pd.read_csv("handlandmark_wide_03.csv"),
    pd.read_csv("handlandmark_wide_03-2.csv"),
    pd.read_csv("handlandmark_wide_04.csv"),
    pd.read_csv("handlandmark_wide_04-2.csv"),
    pd.read_csv("handlandmark_wide_06.csv"),
    pd.read_csv("handlandmark_wide_07.csv"),
    pd.read_csv("handlandmark_wide_09.csv"),
    pd.read_csv("handlandmark_wide_11-2.csv"),
    pd.read_csv("handlandmark_wide_11-2.csv"),
    pd.read_csv("handlandmark_wide_01-test-01.csv"),
    pd.read_csv("handlandmark_wide_01-test-02.csv"),
    pd.read_csv("handlandmark_wide_02-test-02.csv"),
]

df_trian_test_all = pd.concat(df_list, ignore_index=True)

In [33]:
df_trian_test_all.to_csv("df_trian_test_all.csv", index=False)

In [34]:
df_trian_test_all

,dataset_id,frame,time_sec,hand,hand_detected,x_0,x_1,x_2,x_3,x_4,...,z_12,z_13,z_14,z_15,z_16,z_17,z_18,z_19,z_20,behavior
0,1,4838,80.633,Left,1,0.562638,0.523307,0.482645,0.453211,0.428097,...,0.023250,0.028924,0.040879,0.040476,0.037134,0.040757,0.047972,0.050100,0.050478,other
1,1,4839,80.650,Left,1,0.568650,0.525218,0.484482,0.452202,0.425792,...,0.017942,0.029138,0.037961,0.035304,0.031126,0.042559,0.047509,0.047854,0.047420,other
2,1,4840,80.667,Left,1,0.608788,0.557545,0.508360,0.473195,0.442089,...,0.088957,0.051530,0.078208,0.091393,0.097686,0.066829,0.087819,0.099258,0.106655,other
3,1,4841,80.683,Left,1,0.649046,0.593075,0.538306,0.499576,0.468654,...,0.063482,0.053335,0.076139,0.072194,0.064933,0.070201,0.086469,0.086850,0.084640,other
4,1,4842,80.700,Left,1,0.650377,0.594110,0.538319,0.499342,0.467740,...,0.073443,0.059745,0.085387,0.082217,0.074459,0.077140,0.094935,0.095359,0.092450,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117298,02-test-02,9344,155.733,Right,1,0.609859,0.628273,0.638872,0.643476,0.639209,...,-0.058292,-0.023093,-0.035895,-0.040860,-0.043179,-0.015898,-0.025459,-0.028888,-0.030629,place
117299,02-test-02,9363,156.050,Left,1,0.602536,0.589899,0.577123,0.566656,0.556542,...,0.031850,0.025728,0.035991,0.036300,0.034742,0.029306,0.037760,0.040049,0.040621,place
117300,02-test-02,9364,156.067,Left,1,0.597199,0.586713,0.575515,0.565771,0.556603,...,0.036705,0.027454,0.038350,0.041242,0.041872,0.031525,0.041576,0.046160,0.048631,place
117301,02-test-02,9385,156.417,Left,1,0.631980,0.606961,0.579943,0.557783,0.540972,...,0.016828,0.013896,0.019525,0.020413,0.020078,0.016429,0.021066,0.024460,0.026366,other
117302,02-test-02,9386,156.433,Left,1,0.638182,0.610151,0.581108,0.554822,0.534016,...,0.005024,0.005501,0.010037,0.010871,0.009985,0.005330,0.010361,0.014903,0.017020,other